body {
  color: white; }
  body .app {
    background: #1a1829;
    background-image: url("../media/images/app_bg_xlarge_horizontal.jpg");
    background-size: cover;
    background-position: center; }
    body .app md-toolbar {
      min-height: 56px; }
      body .app md-toolbar .md-toolbar-tools {
        height: 56px;
        color: white;
        opacity: 0.92;
        font-size: 24px;
        font-weight: bold; }
        body .app md-toolbar .md-toolbar-tools .feedback-button {
          min-height: 33px;
          line-height: 33px; }
    body .app .toolbar {
      background: linear-gradient(to bottom, #351e4c, #160b2f); }
    body .app .feedback-button {
      background: #fbf7ff;
      color: #1a1829;
      font-weight: 600; }
    body .app .main-view .boxWithHeight {
      box-sizing: border-box; }
    body .app .main-view .widget-manager-container {
      overflow-y: auto; }
    body .app .main-view-big {
      height: calc(100% - 56px); }
  body .app-vertical {
    background-image: url("../media/images/app_bg_xlarge_vertical.jpg"); }
    body .app-vertical .md-toolbar-tools h1 {
      padding-left: 0;
      font-size: 22px; }
    body .app-vertical .md-toolbar-tools .feedback-button {
      min-height: 30px;
      line-height: 30px; }

@keyframes slide {
  from {
    left: 100%; }
  to {
    left: -100%; } }

@-webkit-keyframes slide {
  from {
    left: 100%; }
  to {
    left: -100%; } }

.player-wrapper-horizontal {
  margin-left: 12px;
  margin-top: 12px; }

.youtube-embed-container {
  background: #615e79;
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden; }
  .youtube-embed-container .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.current-playing-bar {
  background: rgba(0, 0, 0, 0.57);
  height: 48px; }
  .current-playing-bar .control-song-button {
    min-width: 26px; }
  .current-playing-bar .song-fullname-container {
    white-space: normal;
    padding-left: 5px; }
    .current-playing-bar .song-fullname-container .song-name-container {
      margin-top: 4px;
      margin-bottom: 2px; }
    .current-playing-bar .song-fullname-container .artist-name-container {
      margin-top: 2px;
      margin-bottom: 4px; }
    .current-playing-bar .song-fullname-container .scrolling-song-fullname {
      color: white;
      height: 48px;
      line-height: 48px;
      width: 100%;
      overflow: hidden;
      position: relative; }
    .current-playing-bar .song-fullname-container .song-fullname-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      animation-name: slide;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-name: slide;
      -webkit-animation-duration: 15s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      font-family: Roboto, sans-serif;
      font-weight: 500; }

.genre-manager-wrapper {
  background: rgba(0, 0, 0, 0.25); }

.genre-manager-wrapper-vertical {
  margin-left: 6px;
  margin-top: 6px;
  margin-right: 6px; }

.genre-manager-wrapper-horizontal {
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow-y: auto; }

.genre-manager-wrapper-horizontal::-webkit-scrollbar {
  width: 8px; }

.genre-manager-wrapper-horizontal::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.23); }

.genre-manager-wrapper-horizontal::-webkit-scrollbar-track {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 1%;
  margin-bottom: 1%;
  background: rgba(255, 255, 255, 0.15); }

.genre-selector-container {
  padding-top: 8px; }
  .genre-selector-container label {
    color: #c9d6ff;
    font-size: 21px;
    font-style: italic;
    font-weight: bold; }
  .genre-selector-container md-select {
    margin: 10px 0 8px 0; }
  .genre-selector-container .genre-selector-wrapper .md-select-value span {
    padding-top: 5px;
    padding-bottom: 4px;
    color: #160d1e; }
  .genre-selector-container .genre-selector-wrapper .md-select-value .md-text {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 3px 5px 3px 5px;
    color: #1a1829;
    background: #c9d6ff; }
  .genre-selector-container .genre-selector-wrapper .md-select-value .md-select-icon {
    margin-left: 0;
    color: #c9d6ff; }
  .genre-selector-container md-select.md-default-theme .md-select-value,
  .genre-selector-container md-select .md-select-value {
    border-bottom-color: transparent; }
  .genre-selector-container md-select:not([disabled]):focus .md-select-value {
    border-bottom: none; }

.selectGenreSelectorHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectGenreSelectorHeader' class */ }

.selectGenreSelectorHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; }

.selectGenreSelectorHeader .genre-selector-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; }

.selectGenreSelectorHeader md-content._md {
  max-height: 240px; }

.genre-widget-area {
  padding-left: 5px;
  padding-right: 8px; }

.genre-container {
  padding-left: 5px; }

.slider-container {
  width: 400px;
  height: 60px; }
  .slider-container md-slider .md-track {
    background: dimgray; }
  .slider-container md-slider .md-track-fill {
    background: #c9d6ff; }
  .slider-container md-slider .md-thumb::after {
    border-color: #c9d6ff;
    background-color: #c9d6ff; }

.playlist {
  height: 100%; }

.playlist-wrapper {
  background: rgba(0, 0, 0, 0.25); }
  .playlist-wrapper .playlist-title {
    padding-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fbfcff;
    font-size: 24px;
    font-style: italic;
    font-weight: bold; }
  .playlist-wrapper .song-item {
    font-family: Verdana, Geneva, sans-serif; }
    .playlist-wrapper .song-item .song-number {
      opacity: 0.8;
      font-size: 28px;
      display: inline;
      font-style: italic; }
    .playlist-wrapper .song-item .full-song-name {
      display: inline; }
      .playlist-wrapper .song-item .full-song-name .song-name {
        display: inline;
        font-weight: bold; }
      .playlist-wrapper .song-item .full-song-name .song-by {
        font-size: 19px;
        display: inline;
        font-style: italic; }
      .playlist-wrapper .song-item .full-song-name .song-by-desktop {
        padding-left: 2px;
        padding-right: 2px; }
      .playlist-wrapper .song-item .full-song-name .artist-name {
        display: inline; }
    .playlist-wrapper .song-item .song-number-big {
      padding-right: 7px; }
    .playlist-wrapper .song-item .full-song-name-big {
      font-size: 18px; }
    .playlist-wrapper .song-item .full-song-name-small {
      font-size: 16px; }
  .playlist-wrapper .item-list {
    box-shadow: -7px -21px 0px -20px white;
    cursor: pointer; }
    .playlist-wrapper .item-list .md-button.md-default-theme:not([disabled]):hover, .playlist-wrapper .item-list .md-button:not([disabled]):hover {
      background-color: transparent; }
  .playlist-wrapper .hover-icon {
    display: none; }
  .playlist-wrapper .hover-item:hover .hover-icon {
    display: block; }
  .playlist-wrapper .play-button {
    cursor: pointer; }

.playlist-wrapper::-webkit-scrollbar {
  width: 8px; }

.playlist-wrapper::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.23); }

.playlist-wrapper::-webkit-scrollbar-track {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 1%;
  margin-bottom: 1%;
  background: rgba(255, 255, 255, 0.15); }

.wrapper-with-scroll {
  overflow-y: auto; }

.playlist-wrapper-horizontal {
  margin: 12px; }

.playlist-wrapper-vertical {
  margin: 6px; }

.inf-icon svg {
  fill: white; }

#bars {
  height: 30px;
  position: absolute; }

.bar {
  background: white;
  bottom: 0px;
  position: absolute;
  width: 4px;
  animation: sound 0ms -950ms linear infinite alternate; }

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px; }
  100% {
    opacity: 1;
    height: 26px; } }

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 524ms; }

.bar:nth-child(2) {
  left: 6px;
  animation-duration: 483ms; }

.bar:nth-child(3) {
  left: 11px;
  animation-duration: 457ms; }

.bar:nth-child(4) {
  left: 16px;
  animation-duration: 508ms; }

.bar:nth-child(5) {
  left: 21px;
  animation-duration: 450ms; }
