body {
  color: white; }
  body .toolbar {
    background: #690505; }
  body .main-view {
    background: #1a1829; }
    body .main-view .genre-widget-manager {
      padding: 10px;
      max-width: 450px; }
      body .main-view .genre-widget-manager .slider-container {
        width: 400px; }
        body .main-view .genre-widget-manager .slider-container .md-track {
          background: rgba(247, 223, 193, 0.64); }
        body .main-view .genre-widget-manager .slider-container .md-track-fill {
          background: #ffab40; }
