<html ng-app="appUtils">

<head>
    <meta charset="utf-8">
    <title>Mixshake | Utils </title>
    <link rel="shortcut icon" href="media/icons/favicon_play.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>

    <script src="utils/dist/ngclipboard.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Application sources -->
    <script src="utils/appUtils.js" type="text/javascript"></script>
    <script src="components/services/dpAppUtils.js" type="text/javascript"></script>

    <!-- Styles -->
    <link href="utils/appUtils.css" rel="stylesheet" type="text/css" />

</head>


<body>
    <div class="appUtils" ng-controller="appUtilsController">
        <!-- <h2> App Utils </h2> -->
        <div ng-cloak>
            <md-content class="md-padding">
                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-click="goto('page1')" name="page1">
                        Add Songs
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page2')" name="page2">
                        Converters
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page3')" name="page3">
                        Tests
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page4')" name="page4">
                        Statistics
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page5')" name="page5">
                        Fix List
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page6')" name="page6">
                        Fix Songs
                    </md-nav-item>
                </md-nav-bar>
                <div class="ext-content">

                    <div ng-show="currentNavItem === 'page1'">
                        <!-- <h2> Adding Songs</h2> -->
                        <div layout="column" layout-padding ng-cloak>
                            <md-content class="md-no-momentum">

                                <div layout="row">

                                    <!-- <h3> YouTube ID </h3> -->
                                    <md-input-container class="md-icon-float md-block">
                                        <label>Video Id</label>
                                        <input ng-model="song.id" type="text">
                                        <!-- <md-button ng-click="loadSongDetails()" class="md-raised">Load Details</md-button> -->
                                    </md-input-container>
                                    <md-input-container class="md-icon-float md-block">
                                        <p ng-if="isNewSong(song.id)">New Song</p>
                                        <p ng-if="!isNewSong(song.id)" style="color : red; font-size: 25px">Already Exist</p>
                                    </md-input-container>
                                    <md-button ng-click="getSongNameAndParseFullTitle()" class="md-raised md-primary">Get Name + Parse</md-button>
                                    <md-input-container style="width: 350px" md-no-float class="md-block">
                                        <label>Publish Date</label>
                                        <input ng-model="song.publishDate" type="text">
                                    </md-input-container>
                                    <md-input-container style="width: 350px" md-no-float class="md-block">
                                        <label>View Count </label>
                                        <input ng-model="song.viewCount" type="text">
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <!-- <h3> Song Details </h3> -->
                                    <md-input-container style="width: 450px" md-no-float class="md-block">
                                        <label>Full Title</label>
                                        <input ng-model="song.fullTitle" type="text">
                                        <md-button ng-click="parseFullTitleAndGetData()" class="md-raised">Parse</md-button>
                                    </md-input-container>
                                    <md-input-container md-no-float class="md-block">
                                        <label>Artist</label>
                                        <input id="artist" ng-model="song.artist" type="text" style="color : blue">
                                        <md-button ngclipboard data-clipboard-target="#artist" class="md-raised">Copy</md-button>
                                    </md-input-container>
                                    <md-input-container style="width: 400px" class="md-block">
                                        <label>Song Name</label>
                                        <input id="songName" ng-model="song.songName" type="text" ng-style="getSelectedSongNameStyle(data.takeSongName)">
                                        <md-button ngclipboard data-clipboard-target="#songName" class="md-raised">Copy</md-button>
                                        <md-checkbox ng-model="data.takeSongName" aria-label="Checkbox 1">
                                            Take me to json
                                        </md-checkbox>
                                    </md-input-container>
                                </div>

                                <div style="padding-left : 450px" layout="row">
                                    <md-input-container md-no-float class="md-block">
                                        <label>Artist For API</label>
                                        <input id="artist" ng-model="song.artistAPI" type="text">
                                        <md-button ngclipboard data-clipboard-target="#artist" class="md-raised">Copy</md-button>
                                    </md-input-container>
                                    <md-input-container style="width: 300px" class="md-block">
                                        <label>Song Name For API</label>
                                        <input id="songName" ng-model="song.songNameAPI" type="text" ng-style="getSelectedSongNameStyle(!data.takeSongName)">
                                        <md-button ng-click="parseSongName()" class="md-raised">Parse</md-button>
                                        <md-checkbox ng-model="!data.takeSongName" aria-label="Checkbox 2">
                                            Take me to json
                                        </md-checkbox>
                                    </md-input-container>
                                </div>

                                <!-- genre area -->
                                <div div layout="row">
                                    <div style="width: 600px">
                                        <h3> Song API </h3>
                                        <md-button ng-click="getSongGneres()" class="md-raised md-primary">Get Data</md-button>
                                        <md-button ng-click="cleanResult()" class="md-raised ">Clean Data</md-button>

                                        <md-input-container class="md-block">
                                            <textarea ng-model="APIResult" style="font-size: 16px" aria-label="APIResult    "></textarea>
                                            </textarea>
                                        </md-input-container>
                                    </div>


                                    <div>
                                        <h3> Song Genres </h3>
                                        <!-- ["Alternative", "Chill Out", "Country", "Dance", "Folk"| "Funk", "Hip-Hop", "Indie", "Latin", "Love"|
                                 "Metal", "Pop", "Punk", "R&B", "Rap"| "Reggae", "Rock", "Soul", "Trance"]; -->

                                        <div layout="row">
                                            <div layout="column">
                                                <md-slider-container>
                                                    <span>Alter-native</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[0]" aria-label="alternative" id="alternative-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[0]" aria-label="alternative" aria-controls="alternative-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Chill-Out</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[1]" aria-label="chill-out" id="chill-out-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[1]" aria-label="chill-out" aria-controls="chill-out-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Country</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[2]" aria-label="country" id="country-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[2]" aria-label="country" aria-controls="country-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Dance</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[3]" aria-label="dance" id="dance-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[3]" aria-label="dance" aria-controls="dance-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Folk</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[4]" aria-label="folk" id="folk-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[4]" aria-label="folk" aria-controls="folk-slider">
                                                    </md-input-container>
                                                </md-slider-container>
                                            </div>
                                            <div layout="column">

                                                <md-slider-container>
                                                    <span>Funk</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[5]" aria-label="funk" id="funk-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[5]" aria-label="funk" aria-controls="funk-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Hip-Hop</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[6]" aria-label="hiphop" id="hiphop-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[6]" aria-label="hiphop" aria-controls="hiphop-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Indie</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[7]" aria-label="indie" id="indie-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[7]" aria-label="indie" aria-controls="indie-slider">
                                                    </md-input-container>
                                                </md-slider-container>


                                                <md-slider-container>
                                                    <span>Latin</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[8]" aria-label="latin" id="latin-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[8]" aria-label="latin" aria-controls="latin-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Love</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[9]" aria-label="love" id="love-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[9]" aria-label="love" aria-controls="love-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                            </div>
                                            <div layout="column">

                                                <md-slider-container>
                                                    <span>Metal</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[10]" aria-label="metal" id="metal-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[10]" aria-label="metal" aria-controls="metal-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Pop</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[11]" aria-label="pop" id="pop-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[11]" aria-label="pop" aria-controls="pop-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Punk</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[12]" aria-label="punk" id="punk-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[12]" aria-label="punk" aria-controls="punk-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>R&B</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[13]" aria-label="rnb" id="rnb-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[13]" aria-label="rnb" aria-controls="rnb-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Rap</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[14]" aria-label="rap" id="rap-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[14]" aria-label="rap" aria-controls="rap-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                            </div>
                                            <div layout="column">

                                                <md-slider-container>
                                                    <span>Reggae</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[15]" aria-label="reggae" id="reggae-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[15]" aria-label="reggae" aria-controls="reggae-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Reggae-ton</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[16]" aria-label="reggaeton" id="reggaeton-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[16]" aria-label="reggaeton" aria-controls="reggaeton-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Rock</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[17]" aria-label="rock" id="rock-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[17]" aria-label="rock" aria-controls="rock-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Soul</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[18]" aria-label="soul" id="soul-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[18]" aria-label="soul" aria-controls="soul-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Trance</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[19]" aria-label="trance" id="trance-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[19]" aria-label="trance" aria-controls="trance-slider">
                                                    </md-input-container>
                                                </md-slider-container>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div layout="row">
                                    <md-button ng-click="addSong()" class="md-raised md-primary">Add Song & Clean</md-button>
                                    <md-button ng-click="cleanSong()" class="md-raised">Clean Song</md-button>
                                    <md-input-container class="md-block">
                                        <label>Running index</label>
                                        <input ng-model="runningSongIndex" type="number">
                                    </md-input-container>
                                </div>

                                <md-input-container class="md-block">
                                    <label>Songs To Add</label>
                                    <!-- <input ng-model="songToAdd" type="text"> -->
                                    <textarea rows="2" cols="50" ng-model="songToAdd">
                                    </textarea>
                                </md-input-container>
                                <md-button ng-click="cleanAllSongs()" class="md-raised md-warn">Clean All Songs</md-button>

                            </md-content>

                        </div>
                    </div>

                    <div ng-show="currentNavItem === 'page2'">
                        <h2> Convertors </h2>
                        <div>
                            <p> Convert from Shrink song list to Raw song list </p>
                            <md-button type="button" class="md-raised" ng-click="convertFromShrinkToRaw()">Convert </md-button>
                        </div>
                        <div>
                            <p> Convert from Raw song list to Shrink song list </p>
                            <md-button type="button" class="md-raised" ng-click="convertFromRawToShrink()">Convert </md-button>
                        </div>
                    </div>

                    <div ng-show="currentNavItem === 'page3'">
                        <h2> Tests </h2>
                        <md-button type="button" class="md-raised" ng-click="runAllTests()">Run All Tests</md-button>
                        <md-content>
                            <md-list flex>
                                <!-- <md-list-item class="md-2-line"> -->
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <h3>Duplicats Test</h3>
                                        <h4>{{getDuplicatesTestResult()}}</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>


                    </div>

                    <div ng-show="currentNavItem === 'page4'">
                        <h2> Statistics </h2>
                        <md-button type="button" class="md-raised" ng-click="createMapOfGenresDataStat()">Calculate</md-button>
                        <md-content>
                            <md-list flex>
                                <!-- <md-list-item class="md-2-line"> -->
                                <md-list-item class="md-2-line" ng-repeat="genreStat in allGenresStat">
                                    <div class="md-list-item-text">
                                        <h3>{{ genreStat.name }}</h3>
                                        <h4>{{ genreStat.weight }}</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>

                    <div ng-show="currentNavItem === 'page5'">
                        <h2> Fix List </h2>
                        <md-button type="button" class="md-raised" ng-click="fixSongList()">Fix List</md-button>
                    </div>

                    <div ng-show="currentNavItem === 'page6'">
                        <!-- <h2> Adding Songs 2 </h2> -->
                        <div layout="column" layout-padding ng-cloak>
                            <md-content class="md-no-momentum">

                                <div layout="row">

                                    <!-- <h3> YouTube ID </h3> -->
                                    <md-input-container class="md-icon-float md-block">
                                        <label>Video Id</label>
                                        <input ng-model="song.id" type="text">
                                        <md-button ng-click="loadSongFromList()" class="md-raised">Load Details</md-button>
                                    </md-input-container>
                                    <md-input-container class="md-icon-float md-block">
                                        <p ng-if="isNewSong(song.id)">New Song</p>
                                        <p ng-if="!isNewSong(song.id)" style="color : red; font-size: 25px">Already Exist</p>

                                    </md-input-container>
                                    <md-button ng-click="getSongNameAndParseFullTitle()" class="md-raised md-primary">Get Name + Parse</md-button>
                                    <md-input-container style="width: 350px" md-no-float class="md-block">
                                        <label>Publish Date</label>
                                        <input ng-model="song.publishDate" type="text">
                                    </md-input-container>
                                    <md-input-container style="width: 350px" md-no-float class="md-block">
                                        <label>View Count </label>
                                        <input ng-model="song.viewCount" type="text">
                                    </md-input-container>
                                </div>

                                <!-- <div layout="row">
                                    <md-input-container style="width: 450px" md-no-float class="md-block">
                                        <label>Full Title</label>
                                        <input ng-model="song.fullTitle" type="text">
                                        <md-button ng-click="parseFullTitleAndGetData()" class="md-raised">Parse</md-button>
                                    </md-input-container>
                                    <md-input-container md-no-float class="md-block">
                                        <label>Artist</label>
                                        <input id="artist" ng-model="song.artist" type="text" style="color : blue">
                                        <md-button ngclipboard data-clipboard-target="#artist" class="md-raised">Copy</md-button>
                                    </md-input-container>
                                    <md-input-container style="width: 400px" class="md-block">
                                        <label>Song Name</label>
                                        <input id="songName" ng-model="song.songName" type="text" ng-style="getSelectedSongNameStyle(data.takeSongName)">
                                        <md-button ngclipboard data-clipboard-target="#songName" class="md-raised">Copy</md-button>
                                        <md-checkbox ng-model="data.takeSongName" aria-label="Checkbox 1">
                                            Take me to json
                                        </md-checkbox>
                                    </md-input-container>
                                    <md-input-container style="width: 300px" class="md-block">
                                        <label>Song Name For API</label>
                                        <input id="songName" ng-model="song.songNameAPI" type="text" ng-style="getSelectedSongNameStyle(!data.takeSongName)">
                                        <md-button ng-click="parseSongName()" class="md-raised">Parse</md-button>
                                        <md-checkbox ng-model="!data.takeSongName" aria-label="Checkbox 2">
                                            Take me to json
                                        </md-checkbox>
                                    </md-input-container>
                                </div> -->

                                <div layout="row">
                                    <!-- <h3> Song Details </h3> -->
                                    <md-input-container style="width: 450px" md-no-float class="md-block">
                                        <label>Full Title</label>
                                        <input ng-model="song.fullTitle" type="text">
                                        <md-button ng-click="parseFullTitleAndGetData()" class="md-raised">Parse</md-button>
                                    </md-input-container>
                                    <md-input-container md-no-float class="md-block">
                                        <label>Artist</label>
                                        <input id="artist" ng-model="song.artist" type="text" style="color : blue">
                                        <md-button ngclipboard data-clipboard-target="#artist" class="md-raised">Copy</md-button>
                                    </md-input-container>
                                    <md-input-container style="width: 400px" class="md-block">
                                        <label>Song Name</label>
                                        <input id="songName" ng-model="song.songName" type="text" ng-style="getSelectedSongNameStyle(data.takeSongName)">
                                        <md-button ngclipboard data-clipboard-target="#songName" class="md-raised">Copy</md-button>
                                        <md-checkbox ng-model="data.takeSongName" aria-label="Checkbox 1">
                                            Take me to json
                                        </md-checkbox>
                                    </md-input-container>
                                </div>

                                <div style="padding-left : 450px" layout="row">
                                    <md-input-container md-no-float class="md-block">
                                        <label>Artist For API</label>
                                        <input id="artist" ng-model="song.artistAPI" type="text">
                                        <md-button ngclipboard data-clipboard-target="#artist" class="md-raised">Copy</md-button>
                                    </md-input-container>
                                    <md-input-container style="width: 300px" class="md-block">
                                        <label>Song Name For API</label>
                                        <input id="songName" ng-model="song.songNameAPI" type="text" ng-style="getSelectedSongNameStyle(!data.takeSongName)">
                                        <md-button ng-click="parseSongName()" class="md-raised">Parse</md-button>
                                        <md-checkbox ng-model="!data.takeSongName" aria-label="Checkbox 2">
                                            Take me to json
                                        </md-checkbox>
                                    </md-input-container>
                                </div>

                                <!-- genre area -->
                                <div div layout="row">
                                    <div style="width: 600px">
                                        <h3> Song API </h3>
                                        <md-button ng-click="getSongGneres()" class="md-raised md-primary">Get Data</md-button>
                                        <md-button ng-click="cleanResult()" class="md-raised ">Clean Data</md-button>
                                        <md-button ng-click="goToBottom()" class="md-raised ">Go Bottom</md-button>

                                        <md-input-container class="md-block">
                                            <textarea ng-model="APIResult" style="font-size: 16px" aria-label="api-result"></textarea>
                                            </textarea>
                                        </md-input-container>
                                    </div>


                                    <div>
                                        <h3> Song Genres </h3>
                                        <!-- ["Alternative", "Chill Out", "Country", "Dance", "Folk", "Hip-Hop", "Indie", "Latin", "Love", "Metal", "Pop", "R&B", "Rock", "Soul"]; -->
                                        <div layout="row">
                                            <div layout="column">
                                                <md-slider-container>
                                                    <span>Alter-native</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[0]" aria-label="alternative" id="alternative-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[0]" aria-label="alternative" aria-controls="alternative-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Chill-Out</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[1]" aria-label="chill-out" id="chill-out-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[1]" aria-label="chill-out" aria-controls="chill-out-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Country</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[2]" aria-label="country" id="country-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[2]" aria-label="country" aria-controls="country-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Dance</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[3]" aria-label="dance" id="dance-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[3]" aria-label="dance" aria-controls="dance-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Folk</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[4]" aria-label="folk" id="folk-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[4]" aria-label="folk" aria-controls="folk-slider">
                                                    </md-input-container>
                                                </md-slider-container>
                                            </div>
                                            <div layout="column">

                                                <md-slider-container>
                                                    <span style="color : red;">Funk</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[5]" aria-label="funk" id="funk-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[5]" aria-label="funk" aria-controls="funk-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Hip-Hop</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[6]" aria-label="hiphop" id="hiphop-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[6]" aria-label="hiphop" aria-controls="hiphop-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Indie</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[7]" aria-label="indie" id="indie-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[7]" aria-label="indie" aria-controls="indie-slider">
                                                    </md-input-container>
                                                </md-slider-container>


                                                <md-slider-container>
                                                    <span>Latin</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[8]" aria-label="latin" id="latin-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[8]" aria-label="latin" aria-controls="latin-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Love</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[9]" aria-label="love" id="love-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[9]" aria-label="love" aria-controls="love-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                            </div>
                                            <div layout="column">

                                                <md-slider-container>
                                                    <span style="color : red;">Metal</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[10]" aria-label="metal" id="metal-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[10]" aria-label="metal" aria-controls="metal-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Pop</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[11]" aria-label="pop" id="pop-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[11]" aria-label="pop" aria-controls="pop-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Punk</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[12]" aria-label="punk" id="punk-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[12]" aria-label="punk" aria-controls="punk-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>R&B</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[13]" aria-label="rnb" id="rnb-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[13]" aria-label="rnb" aria-controls="rnb-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Rap</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[14]" aria-label="rap" id="rap-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[14]" aria-label="rap" aria-controls="rap-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                            </div>
                                            <div layout="column">

                                                <md-slider-container>
                                                    <span style="color : red;">Reggae</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[15]" aria-label="reggae" id="reggae-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[15]" aria-label="reggae" aria-controls="reggae-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Reggae-ton</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[16]" aria-label="reggaeton" id="reggaeton-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[16]" aria-label="reggaeton" aria-controls="reggaeton-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Rock</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[17]" aria-label="rock" id="rock-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[17]" aria-label="rock" aria-controls="rock-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span>Soul</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[18]" aria-label="soul" id="soul-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[18]" aria-label="soul" aria-controls="soul-slider">
                                                    </md-input-container>
                                                </md-slider-container>

                                                <md-slider-container>
                                                    <span style="color : red;">Trance</span>
                                                    <md-slider flex min="0" max="5" ng-model="song.songGenres[19]" aria-label="trance" id="trance-slider">
                                                    </md-slider>
                                                    <md-input-container>
                                                        <input flex type="number" ng-model="song.songGenres[19]" aria-label="trance" aria-controls="trance-slider">
                                                    </md-input-container>
                                                </md-slider-container>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div layout="row">
                                    <md-button ng-click="addSong2()" class="md-raised md-primary">Add Song & Clean</md-button>
                                    <md-button ng-click="cleanSong()" class="md-raised">Clean Song</md-button>
                                    <md-input-container class="md-block">
                                        <label>Running index</label>
                                        <input ng-model="runningSongIndexFromList" type="number">
                                    </md-input-container>
                                </div>

                                <md-input-container class="md-block">
                                    <label>Songs To Add</label>
                                    <!-- <input ng-model="songToAdd" type="text"> -->
                                    <textarea rows="2" cols="50" ng-model="songToAdd">
                                        </textarea>
                                </md-input-container>
                                <md-button ng-click="cleanAllSongs()" class="md-raised md-warn">Clean All Songs</md-button>

                            </md-content>

                        </div>
                    </div>
                </div>


            </md-content>
        </div>
    </div>

</body>

</html>