<!--<input type="range" min="0" max="5" step="1" orient="vertical" ng-change="onWidgetChange()" ng-model="widgetValue"/>-->


<!--<input type="range" min="0" max="5" step="1" orient="vertical" ng-change="onWidgetChange()" ng-click="onClick()" ng-model="widgetValue"/>-->

<!--<input type="range" min="0" max="5" step="1" orient="vertical" ng-change="onWidgetChange()" ng-model="widgetValue" />-->

<div layout="row" layout-align="start center">
    <h5 layout="row" layout-align="start center">{{getGenreLabel()}}</h5>
    <md-slider-container flex="" layout="row" layout-align="end center">
        <md-slider ng-model="widgetValue" min="1" max="5" aria-label="volume" class="md-accent" md-range="" ng-change="onWidgetChange()"></md-slider>
    </md-slider-container>
</div>