.genre-widget {
    height: 60px;

    .genre-name {
        font-family: "Myriad_Pro_Regular";
    }

    .genre-name-container-small {
        margin-left: 5px;
        font-size: 14px;
        width: 200px;
    }

    .genre-name-container-big {
        font-size: 17px;
        letter-spacing: 1px;

    }
    .slider-container {
        width: 600px;
        cursor: pointer;
        
        md-slider { 
            margin-right: 4px; 
            
            .md-track {
                background: dimgray;
            }
            .md-track-fill {
                background: #13E3ED; 
            }
            .md-thumb::after {
                border-color: #13E3ED;
                background-color: #13E3ED;
            }
        }
    }
}