.slider-container {
    width: 400px;

        .md-track {
            background: rgba(247, 223, 193, 0.64);
        }

        .md-track-fill {
            background: rgb(255,171,64); 
        }
    
}