// .youtube-embed-component {
    
    .youtube-embed-container {
        background: #615e79;
        position: relative;
        padding-bottom: 40%;
        //was 56.25%
        //padding-top: 30px; 
        height: 0; 
        overflow: hidden;

        .player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .current-playing-bar {
        background: rgba(0, 0, 0, 0.57);

        .control-song-button {
            min-width: 26px;
        } 

        .song-fullname-container {
            white-space: normal;
            padding-left:5px;

            .song-name-container {
                margin-top: 4px;
                margin-bottom: 2px;
            }

            .artist-name-container {
                margin-top: 2px;
                margin-bottom: 4px;
            }

        }
    }



// }