.youtube-embed-container {
    background: #615e79;

    .current-playing-bar {
        background: rgba(0, 0, 0, 0.57);

        .control-song-button {
            min-width: 26px;
        } 
    }
}