.youtube-embed-container {
    background: #615e79;

    .current-playing-bar {
        background: rgba(0, 0, 0, 0.57);

        .control-song-button {
            min-width: 26px;
        } 

        .song-fullname-container {
            white-space: nowrap;

            .song-name-container {
                margin-top: 4px;
                margin-bottom: 2px;
            }

            .artist-name-container {
                margin-top: 2px;
                margin-bottom: 4px;
            }

        }


    }
}