$playing-bar-background-color: #282828;
$playing-bar-height: 60px;
$play-button-size-big: 28px; 
$back-next-button-size-big: 30px; 
$play-button-size-small: 20px; 
$back-next-button-size-small: 38px; 
$playing-bar-middle-area-color: #ebe8ec;
$playing-bar-hover-highlight-color: rgba(255, 255, 255, 1);
$playing-bar-main-color: rgba(255, 255, 255, 0.7);
$playing-bar-main-color-on: #13E3ED;


//vars
$pi:3.14;

//config
$menu-items: 2;
$opening-angle:$pi*2;

%ball{
  border-radius:100%;
  width:32px;
  height:32px;
  position:absolute;
  color:white;
  text-align:center;
  line-height:60px;
  @include transform(translate3d(0,0,0));
  @include transition(transform ease-out 200ms);
  z-index: 1;
  text-decoration: none;
}

//the whole bottom bar
.playing-bar {
    font-family: "Myriad_Pro_Regular";
    background: $playing-bar-background-color;
    height: $playing-bar-height;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 51;

    // BIG SECTION

    // first section - big (1/3)
    .player-controls-area-big { 
      padding-left: 22px;

      .play-button-wrapper {
        padding: 0 10px 0 10px;
        cursor: pointer;
        outline: none;
        
        .play-button {
          height: $play-button-size-big;
          width: $play-button-size-big;
          display: block;
          margin: 5px;
          overflow: hidden;
          position: relative;
          outline: none;
    
          .left {
            height: 100%;
            float: left;
            background-color: $playing-bar-main-color;
            width: 36%;
            @include transition(all 0.25s ease);
            overflow: hidden;
          }
    
          .triangle-1 {
            @include transform(translate(0, -100%));
                    
          }
          .triangle-2 {
            @include transform(translate(0, 100%));
          }
    
          .triangle-1,
          .triangle-2 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            width: 0;
            height: 0;
            border-right: $play-button-size-big solid $playing-bar-background-color;
            border-top: $play-button-size-big/2 solid transparent;
            border-bottom: $play-button-size-big/2 solid transparent;
            @include transition(transform 0.25s ease);
            
          }
    
          .right {
            height: 100%;
            float: right;
            width: 36%;
            background-color: $playing-bar-main-color;
            @include transition(all 0.25s ease);
            
          }
        }
  
        .paused {
          .left, .right {
            width: 50%;
          }
          .triangle-1 {
            @include transform(translate(0, -50%));
          }
          .triangle-2 {
            @include transform(translate(0, 50%));
          }
        }

        &:hover {
          .left, .right {
            background-color: $playing-bar-hover-highlight-color;
          }
        }
      }// play-button-wrapper
        
      .back-next-button-wrapper {
        padding-right:10px;
        cursor: pointer;
        outline: none;

        .back-next-button {
          width: $back-next-button-size-big;
          height: $back-next-button-size-big;

          svg {
            fill: $playing-bar-main-color;
          }
        }

        &:hover {
          .back-next-button {
            svg {
              fill: $playing-bar-hover-highlight-color;
            }
          }
        }
      }

      .next-button-wrapper {
          padding-left: 9px;
      }

      .repeat-button-wrapper {
        padding-right:10px;
        padding-left: 10px;
        cursor: pointer;
        outline: none;

        .repeat-button {
          width: 15px;
          height: 15px;

          svg {
            stroke: $playing-bar-main-color;
          }
        }

        &:hover {
          .repeat-button {
            svg {
              stroke: $playing-bar-hover-highlight-color;
            }
          }

          .repeat-on {
            svg {
              stroke: #00f3ff;
            }
          }
        }

        .repeat-on {
            svg {
              stroke: rgba($playing-bar-main-color-on, 0.9);
            }
        }
      }

      .song-img-container-big {
        padding-right: 10px;

        .song-image-big-bar {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
    }

    // second section - big (2/3)
    .player-bar-middle-area {
      color: $playing-bar-middle-area-color;
      
      .playing-now-song-name-wrapper {
        position: relative;
        top: 10px;
        font-size: 14px;
      }

      .player-progress-bar-container {
        margin-bottom: 5px;

        .current-duration, .total-duration {
          font-size: 14px;
          min-width: 30px;
        }
  
        .current-duration {
          margin-right: 10px;
        }
  
        .total-duration {
          margin-left: 10px;
        }

        .progress-bar-wrapper {
          cursor: pointer;
        }
      }
    }

    // third section - big (3/3)
    .player-bar-right-area {
      .share-area {

        
        padding-left: 8px;

        .menu-open{
          display: none;
        }

        .share-icon-container {  
          outline: none;
          width: 30px;
          height: 30px;
        
          svg {
            fill: rgba(255, 255, 255, 0.8);
          }
        
          #share {
            width: 22px;
            height: 22px;
            margin-left: -2px;
          }
        
          #close {
            width: 15px;
            height: 15px;
          }
          
          .menu-item {
            @extend %ball;

            &:hover{
              background: white;
            }

            @for $i from 1 through $menu-items {
              &:nth-child(#{$i+2}){
                transition-duration: 180ms;
              }
            }
          }

          .facebook-icon {
            background-color: $facebook-color;
            @include transform(scale(0.8,0.8));
            
            &:hover{
              color: $facebook-color;
            }
          }
          
          .twitter-icon {
            background-color: $twitter-color;
            @include transform(scale(0.8,0.8));
            &:hover{
              color: $twitter-color;
            }
          }

          .menu-open-button {
            @extend %ball;
            background: $playing-bar-background-color;
            z-index: 2;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition-duration: 400ms;
            @include transform(translate3d(0,0,0));
            cursor:pointer;
            @include transition(.3s);
          
            #close {
              display: none;
            }
          
            &:hover {
              background: white;
              @include transform(scale(1.1,1.1) translate3d(0,0,0));
              
              svg {
                fill: $playing-bar-background-color;
              }
            }
          }
          
          .menu-open:checked+.menu-open-button {
            transition-timing-function: linear;
            transition-duration: 200ms;
            @include transform(scale(0.8,0.8) translate3d(0,0,0));
            background: white;
          
            svg {
              fill: $playing-bar-background-color;
            }
            #share {
              display: none;
            }
            #close {
              display: inline;
            }
          }
          
          .menu-open:checked~.menu-item{
            transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);

            @for $i from 1 through $menu-items{
              &:nth-child(#{$i+2}){
                transition-duration: 90ms+(100ms*$i);
                @include transform(translate3d(45px*$i, 0, 0));
              }
            }
          }
        }
      }

      .volume-control {
        padding-right: 30px;
  
        .speaker-icon-container {
          cursor: pointer;
          outline: none;
          width: 30px;
          height: 30px;
  
          svg {
            padding: 3px 4px 4px 4px;
            fill: rgba(255, 255, 255, 0.8); 
          }
  
          &:hover {
            svg {
              fill: $playing-bar-hover-highlight-color;
            }
          }
        }
  
        .volume-control-slider {
          height: 20px;
          cursor: pointer;
  
          md-slider {
            min-width: 100px;
          }
        }
      }

    }


    // SMALL SECTION

    // first section - small (1/2)
    .song-details-area {

      .song-img-container-small {
        padding-left: 10px;

        .song-image-small-bar {
          border-radius: 50%;
          width: 45px;
          height: 45px;
        }
      }

      .song-full-name {
        padding-left: 10px;
        padding-top: 3px;
        font-size: 14px;
        color: #ebe8ec;

        .song-name {
          color: rgba(255, 255, 255, 0.95);
          // max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
        } 

        .artist-name {
          color: rgba(255, 255, 255, 0.83);
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

    }

    // second section - small (2/2)
    .player-controls-area-small {

      .play-button-wrapper {
        padding: 15px 10px 15px 10px;
        cursor: pointer;
        outline: none;
  
        .play-button {
          height: $play-button-size-small;
          width: $play-button-size-small;
          display: block;
          margin: 5px;
          overflow: hidden;
          position: relative;
          outline: none;
    
          .left {
            height: 100%;
            float: left;
            background-color: $playing-bar-main-color;
            width: 36%;
            @include transition(all 0.25s ease);
            overflow: hidden;
          }
    
          .triangle-1 {
            @include transform(translate(0, -100%));
          }
          .triangle-2 {
            @include transform(translate(0, 100%));
          }
    

          // can't (currently) remove to one style for big and small style
          .triangle-1,
          .triangle-2 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            width: 0;
            height: 0;
            border-right: $play-button-size-small solid $playing-bar-background-color;
            border-top: $play-button-size-small/2 solid transparent;
            border-bottom: $play-button-size-small/2 solid transparent;
            @include transition(all 0.25s ease);
            
          }
    
          .right {
            height: 100%;
            float: right;
            width: 36%;
            background-color: $playing-bar-main-color;
            @include transition(all 0.25s ease);
          }
        }

        .paused {
          .left, .right {
            width: 50%;
          }
          .triangle-1 {
            @include transform(translate(0, -50%));
          }
          .triangle-2 {
            @include transform(translate(0, 50%));
          }
        }

        // &:hover {
        //   .left, .right {
        //     background-color: $playing-bar-hover-highlight-color;
        //   }
        // }
      }// play-button-wrapper
        
      .back-next-button-wrapper {
        padding: 11px 12px 11px 7px;
        cursor: pointer;
        outline: none;

        .back-next-button {
          width: $back-next-button-size-small;
          height: $back-next-button-size-small;

          svg {
            height: $back-next-button-size-small;
            width: $back-next-button-size-small;
            fill: $playing-bar-main-color;
          }
        }
      }
      

    }

    .playing-bar-slider-style {
      md-slider {
        .md-track {
          background-color: rgba(255, 255, 255, 0.25);
        }

        .md-track-fill {
          background-color: rgba(255, 255, 255, 0.8);
        }

        .md-thumb::after {
            border-color: $playing-bar-main-color-on;
            background-color: $playing-bar-main-color-on;
        }
      }

      &:hover {
        md-slider {
          .md-track-fill {
            background-color: $playing-bar-main-color-on;
          }
        }
      }
    }


    // removing the thumb from slider
    .no-thumb-slider {
      md-slider { 
        .md-thumb {
          @include transform(scale(0));
          @include transition(transform .15s cubic-bezier(1,0,.7,1));
        }

        .md-sign, .md-focus-thumb, .md-focus-ring { 
          display: none;
        }
      }

      &:hover {
        md-slider {
          .md-slider-wrapper {
            .md-thumb {
              @include transform(scale(0.7));
              @include transition(transform .15s cubic-bezier(.3,0,0,1));
              
            }
          }
        }
      }

      // disable the return of the thum after active
      md-slider:not([md-discrete]):not([disabled]) .md-slider-wrapper.md-focused .md-thumb {
        -webkit-animation: none;
        animation: none;
      }
    }
}


// special case for ff 
.playing-bar {
  .player-bar-middle-area {
    @-moz-document url-prefix() {
      .playing-now-song-name-wrapper {
        top: 14px;
      }
    } 
  } 
}

// need to be outof the hierarchy since it's a different layer 
.share-icon-tooltip {
  padding-bottom: 4px;   
}
