<div class="playing-bar" layout="row" layout-align="space-between">
    <div class="song-details-area" layout="row" layout-align="start center">
        <div class="song-img-container-small" layout="column" layout-align="center">
            <img ng-src="{{logicService.getSongImgSrcByIndex(logicService.getCurrentPlayingSongIndex())}}" class="song-image-small-bar" alt="image" /> 
        </div>
        <div class="song-full-name" layout="column" layout-align="center start">
            <div class="song-name" ng-style="getNameMaxWidth()">
                {{logicService.getSongNameByIndex(logicService.getCurrentPlayingSongIndex())}} 
            </div>
            <div class="artist-name" ng-style="getNameMaxWidth()">
                {{logicService.getSongArtistByIndex(logicService.getCurrentPlayingSongIndex())}}
            </div>
        </div>

    </div>
    <div class="player-controls-area-small" layout="row" layout-align="end center" ng-show="playerService.isPlayerEnabled()">
        <div class="play-button-wrapper" layout="row" layout-align="start center" ng-click="playerService.isPlayerEnabled() && onPlayPauseClick()">
                <div class="play-button"  ng-class="getPlayPauseStyle()">
                    <div class="left"></div>
                    <div class="right"></div>
                    <div class="triangle-1"></div>
                    <div class="triangle-2"></div>
                </div>
        </div>
        <div class="back-next-button-wrapper" layout="row" layout-align="start center" ng-click="playerService.isPlayerEnabled() && playerService.onNextSongClick()">
            <div class="back-next-button" >
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="player-controls-loader-wrapper-small" layout="row" layout-align="end center" ng-show="!playerService.isPlayerEnabled()" >
        <div class="loading-pulse">
        </div>
    </div>
</div>
