
$playing-bar-background-color: #282828;
$playing-bar-height: 60px;
$playing-bar-hover-highlight-color: #42f1f8;
$play-button-size: 28px; 
$next-button-size: 30px; 
$playing-bar-main-color: #ebe8ec;


//the whole bottom bar
.playing-bar {
    font-family: "Myriad_Pro_Regular";
    background: $playing-bar-background-color;
    height: $playing-bar-height;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 101;

    .player-controls {
      padding-left: 25px;

      .play-button-wrapper {
              padding: 0 10px 0 10px;
              cursor: pointer;
              outline: none;
        
              .play-button {
                height: $play-button-size;
                width: $play-button-size;
                display: block;
                margin: 5px;
                overflow: hidden;
                position: relative;
                outline: none;
          
                .left {
                  height: 100%;
                  float: left;
                  background-color: $playing-bar-main-color;
                  width: 36%;
                  -webkit-transition: all 0.25s ease;
                  transition: all 0.25s ease;
                  overflow: hidden;
                }
          
                .triangle-1 {
                  -webkit-transform: translate(0, -100%);
                          transform: translate(0, -100%);
                }
                .triangle-2 {
                  -webkit-transform: translate(0, 100%);
                          transform: translate(0, 100%);
                }
          
                .triangle-1,
                .triangle-2 {
                  position: absolute;
                  top: 0;
                  right: 0;
                  background-color: transparent;
                  width: 0;
                  height: 0;
                  border-right: $play-button-size solid $playing-bar-background-color;
                  border-top: $play-button-size/2 solid transparent;
                  border-bottom: $play-button-size/2 solid transparent;
                  -webkit-transition: -webkit-transform 0.25s ease;
                  transition: -webkit-transform 0.25s ease;
                  transition: transform 0.25s ease;
                  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
                }
          
                .right {
                  height: 100%;
                  float: right;
                  width: 36%;
                  background-color: $playing-bar-main-color;
                  -webkit-transition: all 0.25s ease;
                  transition: all 0.25s ease;
                }
              }
        
              .paused {
                .left, .right {
                  width: 50%;
                }
                .triangle-1 {
                  -webkit-transform: translate(0, -50%);
                          transform: translate(0, -50%);
                }
                .triangle-2 {
                  -webkit-transform: translate(0, 50%);
                          transform: translate(0, 50%);
                }
              }

              &:hover {
                .left, .right {
                  background-color: $playing-bar-hover-highlight-color;
                }


              }
            }// play-button-wrapper
        
            .next-button-wrapper {
              padding: 0 10px 0 10px;
              cursor: pointer;
              outline: none;

              .next-button {
                width: $next-button-size;
                height: $next-button-size;

                svg {
                  fill: $playing-bar-main-color;
                }
              }

              &:hover {
                .next-button {
                  svg {
                    fill: $playing-bar-hover-highlight-color;
                  }
                }
              }
            }

            .song-img-container {
              padding-right: 10px;
      
              .song-image {
                border-radius: 50%;
                width: 50px;
                height: 50px;
              }
            }
    }

    .player-bar-middle-area {
      color: $playing-bar-main-color;
      
      .playing-now-song-name-wrapper {
        font-size: 15px;
        padding-top: 9px;

      }

      .player-progress-bar-container {

        margin-bottom: 5px;

        .current-duration, .total-duration {
          font-size: 14px;
          min-width: 30px;
        }
  
        .current-duration {
          margin-right: 10px;
        }
  
        .total-duration {
          margin-left: 10px;
        }
  
        .progress-bar-wrapper {
  
        }

      }






    }



    

}
