$bounce: cubic-bezier(.5, 0, 0, 1.5);
$bounce-lg: cubic-bezier(.5, 0, 0, 3);
$duration: 0.15s;
$button-inactive-inner-color:rgba(255, 255, 255, 0.6);
$button-active-inner-color: $app-background-color;
$tag-switcher-height-big: 37px;
$tag-switcher-height-small: 30px;



.tag-switcher-container {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;

  .tag-switcher {
    width: 111px;
    height: $tag-switcher-height-big;
    min-height: $tag-switcher-height-big;
    line-height: $tag-switcher-height-big;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    color: $button-inactive-inner-color;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.5px;
    background-color: rgba(105, 105, 105, 0.42);
    @include transition(all $duration $bounce);

    .icon-sign {
      @include transition(all $duration $bounce);
      .icon-sign-container {
        padding-top: 9px;
        padding-left: 14px;
        padding-right: 10px;

        svg {
          width: 18px;
          height: 18px;
          fill: $button-inactive-inner-color;
        }
      }

      .new-sign {
        padding-top: 10px;
        svg {
          width: 16px;
          height: 16px;
        }
      }

      .trending-sign {
        padding-right: 7px;
      }
    }
  
    &.active-switch { //tag-switcher 
      @include gradientBg(180deg, #ffc900, #ffa400);
      color: $button-active-inner-color;

      .icon-sign-container {
        svg {
          fill: $button-active-inner-color;
        }
      }
    } //&.active-switch
  }// .tag-switcher

}

.big-view {

  .tag-switcher {
    @include transition(all $duration $bounce);

    &:hover {
      animation: hover 1200ms linear 2 alternate;
      background-color: rgba(0,0,0,0.4);
      color: white;

      .icon-sign-container {
        svg {
          fill:white;
        }
      }
    }

    &.active-switch { //tag-switcher 
      color: $button-active-inner-color;

      .icon-sign-container {
        svg {
          fill: $button-active-inner-color;
        }
      }
    }

    &:active {
        animation: active 1200ms ease 1 alternate; 
    }
  }

}

.small-view {
  margin-left: 2px;
  margin-right: 2px;
  .tag-switcher {
    width: 92px;
    height: $tag-switcher-height-small;
    min-height: $tag-switcher-height-small;
    line-height: $tag-switcher-height-small;
    font-size: 12px;

    .icon-sign {
      .icon-sign-container {
        padding-left:12px;
        padding-right: 7px;
        padding-top: 7px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
      .new-sign {
        padding-top: 8px;
        padding-left:14px;
        svg {
          width: 14px;
          height: 14px;
        }
      }
      .trending-sign {
        padding-left:10px;
        padding-right: 5px;
      }
    }
  }

}