.playlist {
    height : 100%;
}


    .playlist-wrapper {
 
        margin: 12px;
        background: rgba(0,0,0,0.25);
    
        .playlist-title {
            padding-left: 18px;
            margin-top: 10px;
            margin-bottom: 10px;

            color: #fbfcff;
            font-size: 24px;
            font-style: italic;
            font-weight: bold;
            
        }
    
        .song-item {
            font-family: Verdana, Geneva, sans-serif;

            .song-number {
                opacity: 0.8;
                font-size: 28px;
                display: inline;   
                font-style: italic;
            }

            .full-song-name {
                font-size: 20px;
                display: inline;   
                
                .song-name {
                    display: inline;  
                    font-weight: bold;
                }

                .song-by {
                    font-size: 19px;
                    display: inline;  
                    font-style: italic;
                }

                .song-by-desktop {
                    padding-left: 2px;
                    padding-right: 2px;
                }

                .artist-name {
                    display: inline;  

                }
            }
        }
    
        .item-list {
            box-shadow: -7px -21px 0px -20px white;
        }

        .hover-icon {
            display: none;
        }

        .hover-item:hover {
                .hover-icon {
                display : block;
            }
        }

        .play-button {
            cursor: pointer;

        }
    
        }

        // making the playlist to be scrollable (only in desktop)
        //big view - row layout (not small as in mobile - row)
        // we want scrollbar on the playlit (not like in mobile that we want to use the "device" scroll)
        .wrapper-with-scroll {
            overflow-y: auto;
        }



