<div class="playlist text-no-select" flex layout="column">
    <div class="playlist-wrapper wrapper-with-scroll playlist-wrapper-horizontal scroll-style">
        <div class="playlist-title main-title"> Now Playing </div>
        <md-list-item class="md-2-line item-list song-item now-playing-song" layout="row">
            <img ng-src="{{getSongImgSrc(logicService.getCurrentPlayingSongIndex())}}" class="md-avatar song-image-big song-image-big-play" alt="image" />
            <div class="md-list-item-text full-song-name full-song-name-big">
                <p class="song-name">{{logicService.getSongNameByIndex(logicService.getCurrentPlayingSongIndex())}}</p>
                <p class="artist-name">{{logicService.getSongArtistByIndex(logicService.getCurrentPlayingSongIndex())}}</p>
            </div>
            <div class="md-avatar">
                <div class="bars bars-big" ng-show="playerService.isPlaying()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <p class="md-avatar song-duration song-duration-big-playing" ng-show="!playerService.isPlaying()">{{logicService.getSongDurationByIndex(logicService.getCurrentPlayingSongIndex())}}</p>
        </md-list-item>
        

        <div class="playlist-title sub-title"> Up Next </div>
        <md-list-item ng-repeat="songIndex in songsIndexesList | limitTo:getNumberOfSongsToShow() track by $index" ng-click="playerService.isPlayerEnabled() && playSelectedSong(songIndex)" class="md-2-line hover-item item-list song-item"
            ng-class="{'song-item-container-teen-number':$index + 1 > 9}" layout="row">
            <!-- <div class="song-number song-number-big">
                {{$index + 1}}
            </div> -->
            <img ng-src="{{getSongImgSrc(songIndex)}}" class="md-avatar song-image-big" alt="image" />
            
            <div class="md-list-item-text full-song-name full-song-name-big">
                <p class="song-name">{{logicService.getSongNameByIndex(songIndex)}}</p>
                <p class="artist-name"> {{logicService.getSongArtistByIndex(songIndex)}}</p>
            </div>
            <!-- <img src="media/icons/ic_play_arrow_white_36px.svg" class="md-avatar hover-icon" ng-show="playerService.isPlayerEnabled()"> -->
            <img src="media/icons/ic_play_arrow_white_36px.svg" class="md-avatar hover-icon" >
            <p class="md-avatar song-duration song-duration-big hover-duration">{{getSongDuration(songIndex)}}</p>
            
        </md-list-item>

        <md-list-item class="md-2-line item-list">
            <div class="md-list-item-text" layout="row" layout-align="center">
                <div class="show-more-less-button text-no-select" ng-click="showMoreLessToggle()">{{getTextShowMoreLessButton()}}</div>
                
            </div>
        </md-list-item>
    </div>
</div>