.playlist {
    height: 100%;
}

.playlist-wrapper {
    font-family: "Myriad_Pro_Regular";
    
    //background: rgba(0, 0, 0, 0.09);
    background: rgba(255, 255, 255, 0.06);
    
    border-radius: 12px;
    .playlist-title {
        padding-left: 13px;
        margin-top: 11px;
        margin-bottom: 10px;
        color: white;
        opacity: 0.98;
    }

    .main-title {
        font-size: 23px;
    }

    .sub-title {
        font-size: 20px;
    }
    .song-item {
        .song-number {
            width: 20px;
            color: #998d9f;
        }
        .song-number-big {
            font-size: 19x;
            padding-right: 20px;
            padding-left: 10px;
        }
        .song-number-small {
            font-size: 19px;
            padding-right: 14px;
            padding-left: 2px;
        }
        .full-song-name {
            .song-name {
                color: #ebe8ec;
                padding-bottom: 5px;
            }
            .artist-name {
                color: #13e3ed;
            }
        }




        .full-song-name-big {
            font-size: 17px;
            .song-name {
                letter-spacing: 1px;
                font-size: 16px;
            }
            .artist-name {
                letter-spacing: 1px;
                font-size: 14px;
            }
        }
        .full-song-name-small {
            .song-name {
                font-size: 14px;
            }
            .artist-name {
                font-size: 13px; 
            }
        }

        .song-duration {
            color: #ebe8ec;
            
        }

        .song-duration-big {
            font-size: 16px;
        }

        .song-duration-big-playing {
            font-size: 18px;
            margin-top: 36px;
            margin-right: 16px;

        }

        .song-duration-small {
            margin-right: 0px; 
            
            font-size: 12px;
        }

        .song-duration-small-playing {
            font-size: 13px;
            margin-top: 36px;
            margin-right: 1px;

        }
        
        .bars-wrapper-small {
            margin-right: 1px;
        }

        .bars-big {
            height: 51px;
        }

        .bars-small {
            height: 40px;
        }
            
 
    }
    .song-item-container-teen-number {
        .song-number-big {
            padding-left: 5px;
        }
        .full-song-name-big {
            padding-left: 5px;
        }
        .song-number-small {
            padding-left: 0;
        }
        .full-song-name-small {
            padding-left: 2px;
        }
    }
    .item-list {
        box-shadow: -3px -18px 0px -17px rgba(255, 255, 255, 0.5);
        padding-top: 2px;
        padding-bottom: 2px; // TEMP - hovering background on item list
        .md-button.md-default-theme:not([disabled]):hover,
        .md-button:not([disabled]):hover {
            background-color: transparent;
            ;
        }

        .song-image-big {
            width: 58px;
            height: 58px;
            background: transparent url("../../../../media/gifs/rollingBig.gif") center no-repeat;
        }

        .song-image-small {
            width: 47px;
            height: 47px;
            background: transparent url("../../../../media/gifs/rollingSmall.gif") center no-repeat;
        }

        .song-image-big-play {
            width: 70px;
            height: 70px;

        }

        .song-image-small-play {
            width: 62px;
            height: 62px;
            
        }

        

    }
    .now-playing-song { 
        padding-bottom: 10px;
    }
    .hover-icon {
        display: none;
    }
    .hover-item:hover {
        .hover-icon {
            display: block;
        }

        .hover-duration{
            display: none;
        }
    }

    // .hover-song:hover{
    //     display: none;
    // }

    .play-button {
        cursor: pointer;
    }


    .show-more-less-button {
        margin: 3px 0 3px 0;
        cursor: pointer;
        text-align: center;
        font-family: Arial, sans-serif;
        color: #231123;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.5px;
        width: 100px;
        line-height: 31px;
        height: 30px;
        min-height: 30px;
        border-radius: 20px;
        outline: none;
        background: #13e3ed;
        @include gradientBg(180deg, #13e3ed, #49e1e8);

        &:hover {
            background: #13e3ed; // #ff00de
            @include gradientBg(180deg, #39ebf1, #5ef4f7);
            animation: hover 1200ms linear 2 alternate;
            // transform: scale(1.025);
        }
    
        &:active {
            animation: active 1200ms ease 1 alternate; 
            // transform: scale(0.97);
        }
        
    }
}

.playlist-wrapper::-webkit-scrollbar {
    width: 8px;
}

.playlist-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .23);
}

.playlist-wrapper::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: hsla(0, 0%, 100%, .15);
}

// making the playlist to be scrollable (only in desktop)
//big view - row layout (not small as in mobile - row)
// we want scrollbar on the playlit (not like in mobile that we want to use the "device" scroll)
.wrapper-with-scroll {
    overflow-y: auto;
}

.playlist-wrapper-horizontal {
    margin: 0 12px 12px 12px;
    padding-top: 10px;
    padding-left: 10px;
}

.playlist-wrapper-vertical {
    margin: 6px;
}

.inf-icon svg {
    padding: 3px;
    fill: white;
    opacity: 0.8;
}



.bars {
    
    position: absolute;

    .bar {
        background: #fb5095;
        bottom: 0px;
        position: absolute;
        width: 4px;
        animation: sound 0ms -950ms linear infinite alternate;
    }

    .bar:nth-child(1) {
        background: #09b7bf;
        left: 1px;
        animation-duration: 524ms;
    }
    
    .bar:nth-child(2) {
        background: #90d36b;
        left: 6px;
        animation-duration: 483ms;
    }
    
    .bar:nth-child(3) {
        background: #f2d40d;
        left: 11px;
        animation-duration: 457ms;
    }
    
    .bar:nth-child(4) {
        background: #fcb12b;
        left: 16px;
        animation-duration: 508ms;
    }
    
    .bar:nth-child(5) {
        background: #ed1b72;
        left: 21px;
        animation-duration: 450ms;
    }
}
