<md-toolbar class="toolbar" md-scroll-shrink="false">
    <div class="md-toolbar-tools">
        <img class="icon-container" src="media/icons/logoMixshakeTrans.svg" alt="logo">
        <h1 flex md-truncate class="toolbar-title text-no-select">MIX<span>SHAKE</span></h1>
        <div class="feedback-button text-no-select" ng-click="openFeedbackForm()">FEEDBACK</div>
        
        <!-- <md-button id="feedback-widget" class="md-raised feedback-button">FEEDBACK</md-button> -->
        
    </div>
</md-toolbar>