<md-toolbar class="toolbar toolbar-big">
    <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
            <md-icon md-svg-icon="media/icons/ic_skip_next_white_36px.svg" ></md-icon>
        <!-- </md-button> -->
        <h1 flex md-truncate class="toolbar-title text-no-select">MIX<span>SHAKE</span></h1>
        <md-button class="md-raised feedback-button" ng-click="openFeedbackForm()">FEEDBACK</md-button>
        <!-- <md-button id="feedback-widget" class="md-raised feedback-button">FEEDBACK</md-button> -->
        
    </div>
</md-toolbar>