body {
    color: white;
    .app {
        background: rgb(26, 24, 41);
        background-image: url("../media/images/app_bg_xlarge_horizontal.jpg");
        background-size: cover;
        background-position: center;
        .toolbar {
            background: transparent;
            min-height: 56px;
            .md-toolbar-tools {
                height: 56px;
                color: white;
                .toolbar-title {
                    font-weight: bold;
                    font-size: 24px; 
                    opacity: 0.98;
                    span {
                        // color: #53f9ff;
                        color: #42F6FC;
                        
                    }
                }
                .feedback-button {
                    min-height: 33px;
                    line-height: 33px;
                }
            }
        }
        .feedback-button {
            background: rgb(251, 247, 255);
            color: #1a1829;
            font-weight: 600;
            opacity: 0.95;
        }
        .toolbar-big {
            .feedback-button {
                margin-right: -4px;
            }
        }
        .main-view {
            .boxWithHeight {
                box-sizing: border-box;
            }
            .widget-manager-container {
                overflow-y: auto;
            }
            .right-side {
            }
        } // CAN BE DELETED - ONLY FOR REF
        // default toolbar height is 56
        .main-view-big {
            height: calc(100% - 56px);
        } // toolbar height is 56px
        // in @media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
        .main-view-small-portrait {
            //    height: calc(100% - 56px);
        } // toolbar height is 48px
        // in @media (min-width: 0) and (max-width:959px) and (orientation:landscape)
        .main-view-small-landscape {
            // height: calc(100% - 48px);
        }
    }
    .app-vertical {
        background-image: url("../media/images/app_bg_xlarge_vertical.jpg");
        .toolbar {
            .md-toolbar-tools {
                h1 {
                    padding-left: 0;
                    font-size: 22px;
                }
                .feedback-button {
                    min-height: 25px;
                    line-height: 25px;
                    min-width: 77px;
                    font-size: 10px;
                }
            }
        }
    }


    // webengagedata {
        #webklipper-publisher-widget-container-frame-container {
            #webklipper-publisher-widget-container-content {
                border-width: 0;
            }
            body {
                .feedback-form-container {
                    .container {

                    }
                }
            }
        }
    // }
}