.text-no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  }

.scroll-style::-webkit-scrollbar {
    width: 8px;
}

.scroll-style::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .23);
}

.scroll-style::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: hsla(0, 0%, 100%, .15);
}