.genre-manager-wrapper {
    // we always want left and top
    background: rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    .genre-selector-container {
        // in order to catch the hover & active event of the user pointer
        width: 136px;
        height: 47px;
        .add-genre-button {
            font-family: Arial, sans-serif;
            color: white;
            font-weight: bold;
            font-size: 13px;
            padding-left: 14px;
            letter-spacing: 0.5px;
            width: 132px;
            line-height: 38px;
            height: 37px;
            min-height: 37px;
            border-radius: 20px;
            background: #fb3c89;
            .plus-sign {
                padding-right: 6px;
                margin-top: 11px;
            }
        }
        .md-select:hover+.add-genre-button {
            background: #FB38A6; // #ff00de
            transform: scale(1.025);
        }
        .genre-selector-wrapper {
            margin: -43px 0 0 0; // background: red;
            width: 136px;
            height: 47px;
            min-height: 47px;
            .md-select-value {
                span {
                    display: none;
                }
            }
        }
        md-select.md-default-theme .md-select-value,
        md-select .md-select-value {
            border-bottom-color: transparent;
        }
        md-select:not([disabled]):focus .md-select-value {
            border-bottom: none;
        }
    }
    .genre-selector-container:hover {
        .add-genre-button {
            background: #FB38A6;
            transform: scale(1.025);
        }
    }
    .genre-selector-container:active {
        .add-genre-button {
            // background: #FB38A6; // #ff00de
            transform: scale(0.97);
        }
    }
    .genre-widget-area {
        padding-left: 5px;
        padding-right: 8px; 
    }
}

.genre-manager-wrapper-vertical {
    padding-top: 4px; // common sides
    margin-left: 6px;
    margin-top: 6px; //different side
    margin-right: 6px;
    .genre-selector-container {
        margin-top: 10px;
        margin-left: 12px;
    }
}

.genre-manager-wrapper-horizontal {
    padding: 15px 15px 0 15px; // common sides
    margin-left: 12px;
    margin-top: 12px; //different side
    margin-bottom: 12px; // adding scroll bar when the window heigt is too small for all the genres
    overflow-y: auto;
}

.genre-manager-wrapper-horizontal::-webkit-scrollbar {
    width: 8px;
}

.genre-manager-wrapper-horizontal::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .23);
}

.genre-manager-wrapper-horizontal::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: hsla(0, 0%, 100%, .15);
}

.selectGenreSelectorHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectGenreSelectorHeader' class */
    margin-left: 50px;
}

.selectGenreSelectorHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectGenreSelectorHeader .genre-selector-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectGenreSelectorHeader md-content._md {
    max-height: 240px;
}