<div flex class="genre-manager-wrapper" ng-class="getGenreManagerWarpperClass()" layout="column" layout-align="start center">

    <div class="genre-selector-container" layout="column" layout-align="center center">
        <label>Pick a genre below</label>
        <md-select class="genre-selector-wrapper" data-md-container-class="selectGenreSelectorHeader" ng-model="selectedGenres" md-on-close="clearSearchTerm()"
            ng-change="onChange()" aria-label="Pick a genre below" multiple>

            <md-select-header class="genre-selector-header">
                <input ng-model="searchTerm" type="search" placeholder="Search for a genre.." class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="allGenres">
                <md-option ng-value="genre" ng-repeat="genre in allGenres | filter:searchTerm">{{genre}}</md-option>
            </md-optgroup>
        </md-select>
    </div>

    <div class="genre-widget-area" layout="column" layout-align="start stretch">
        <dp-genre-widget genre="house" ng-if="showHouse"></dp-genre-widget>
        <dp-genre-widget genre="pop" ng-if="showPop"></dp-genre-widget>
        <dp-genre-widget genre="rb" ng-if="showRb"></dp-genre-widget>
        <dp-genre-widget genre="ir" ng-if="showIr"></dp-genre-widget>
        <dp-genre-widget genre="soul" ng-if="showSoul"></dp-genre-widget>
    </div>

</div>