


.genre-manager-wrapper {
    // we always want left and top
    // background: rgba(0, 0, 0, 0.09);
    background: rgba(255, 255, 255, 0.06);
    
    border-radius: 12px;
    .genre-selector-container {
        // in order to catch the hover & active event of the user pointer
        width: 136px;
        height: 47px;
        .add-genre-button {
            font-family: Arial, sans-serif;
            color: white;
            font-weight: bold;
            font-size: 13px;
            padding-left: 14px;
            letter-spacing: 0.5px;
            width: 111px;
            line-height: 38px;
            height: 37px;
            min-height: 37px;
            border-radius: 20px;
            background: #fb3c89;
            @include gradientBg(180deg, #fb3c89, #fc3286);

            .search-sign {
                padding-right: 4px;
                margin-top: 9px;
            }
        }
        .md-select:hover+.add-genre-button {
            background: #FB38A6; // #ff00de
            @include gradientBg(180deg, #fb38a6, #fc2ea2);
            animation: hover 1200ms linear 2 alternate;
            // transform: scale(1.025);
        }
        .genre-selector-wrapper {
            margin: -43px 0 0 0; // background: red;
            width: 125px;
            height: 47px;
            min-height: 47px;
            .md-select-value {
                span {
                    display: none;
                }
            }
        }
        md-select.md-default-theme .md-select-value,
        md-select .md-select-value {
            border-bottom-color: transparent;
        }
        md-select:not([disabled]):focus .md-select-value {
            border-bottom: none;
        }
    }
    .genre-selector-container:hover {
        .add-genre-button {
            @include gradientBg(180deg, #FB38A6, #fc2ea2);
            animation: hover 1200ms linear 2 alternate;
            // transform: scale(1.025);
        }
    }
    .genre-selector-container:active {
        .add-genre-button {
            // background: #FB38A6; // #ff00de
            animation: active 1200ms ease 1 alternate; 
            // transform: scale(0.97);
        }
    }
    .genre-widget-area {
        padding-left: 5px;
        padding-right: 8px;
    }
}

.genre-manager-wrapper-vertical {
    padding-top: 4px; // common sides
    margin-left: 6px;
    margin-top: 6px; //different side
    margin-right: 6px;
    .genre-selector-container {
        margin-top: 10px;
        margin-left: 12px;
    }
}

.genre-manager-wrapper-horizontal {
    padding: 15px 15px 0 15px; // common sides
    margin-left: 12px;
    margin-top: 12px; //different side
    margin-bottom: 12px; // adding scroll bar when the window heigt is too small for all the genres
    overflow-y: auto;
}

.genre-manager-wrapper-horizontal::-webkit-scrollbar {
    width: 8px;
}

.genre-manager-wrapper-horizontal::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .23);
}

.genre-manager-wrapper-horizontal::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: hsla(0, 0%, 100%, .15);
}

.selectGenreSelectorHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectGenreSelectorHeader' class */
    margin-left: 50px;
}

.selectGenreSelectorHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectGenreSelectorHeader .genre-selector-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}


md-select-menu {
    min-height: 300px;
    min-width: 280px;
    border-radius: 10px;

}


md-select-menu[multiple] md-option.md-checkbox-enabled .md-icon {
    border-radius: 50%;
}

.selectGenreSelectorHeader md-content._md {
    max-height: 440px;
}

// .tag-switchers-wrapper dp-tag-switcher:first-child  {
//     .tag-switcher {
//         border-radius: 14px 0 0 14px;
//     }
// }

// .tag-switchers-wrapper dp-tag-switcher:last-child  {
//     .tag-switcher {
//         border-radius: 0 14px 14px 0;
//     }
// }


.tag-switchers-wrapper {
    // white-space: nowrap;
    // min-height: 33px;
    // position: relative;
    // width: 205px;
    // margin: 0 auto;
}

// .rounded-left-border {
//     width: 10px;
//     height: 37px;
//     background: #2c3e50;
// }

.tag-switchers-wrapper dp-tag-switcher {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    // zoom: 1;
    // background: #7f8c8d;
  }

//   .tag-switchers-wrapper dp-tag-switcher .tag-switcher {
//     float: left;
//     margin-left: -4px;
//   }

  .tag-switchers-wrapper>.dp-tag-switcher:first-child,
  .tag-switchers-wrapper dp-tag-switcher:first-child .tag-switcher {
    // margin-left: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .tag-switchers-wrapper>.tag-switcher:last-child,
  .tag-switchers-wrapper dp-tag-switcher:last-child>.tag-switcher {
    // margin-right: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

