<div flex class="genre-manager-wrapper" ng-class="getGenreManagerWarpperClass()" layout="column" layout-align="start center">

    <div flex class="genre-manager-container" layout="column" layout-align="start center">

        <div class="genre-selector-container" layout="column" layout-align="start center" flex="none">
            <div class="add-genre-button" layout="row">
                <div class="search-sign">
                    <svg width="20px" height="20px"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    </div>
                <div class="button-text text-no-select">
                    Search Genres
                </div>
            </div>
            <!-- we are using 'md-select' as placeholder for the user click of 'add genre' button -->
            <md-select class="genre-selector-wrapper" data-md-container-class="selectGenreSelectorHeader" ng-model="selectedGenresNames"
                md-on-close="clearSearchTerm()" ng-change="onGenreSelectorChange()" md-on-open="onGenreSelectorClick()" aria-label="Add Genre" multiple>
                <md-select-header class="genre-selector-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a genre..." class="demo-header-searchbox md-text">
                </md-select-header>
                <md-optgroup label="allGenresNames">
                    <md-option ng-click="onOptionClick(genre)" ng-value="genre" ng-repeat="genre in allGenresNames | filter:searchTerm" ng-disabled="isGenreDisabled(genre)">
                        {{genre}} 
                        <span ng-if="showMaxGenresHint && isGenreDisabled(genre)"> (5 genres max)</span>
                        <span ng-if="showOnlySelectedGenreHint && isOnlySelectedGenre(genre)"> (1 genre min)</span>
                    </md-option>
                </md-optgroup>
            </md-select>
        </div>

        <div layout="row" layout-align="start center" ng-include src="getGenreManagerButtonsWrapperTemp()" flex="none"></div>

        <div class="genre-widget-area" layout="column" layout-align="start stretch" flex="none">
            <dp-genre-widget ng-repeat="thisGenre in allGenresNames" genre={{thisGenre}} ng-if="shouldShowGenre(thisGenre)"></dp-genre-widget>
        </div>

    </div>
</div>