

.genre-selector-container {

  padding-top: 3px;

  label {
    color: #c9d6ff;
    font-size: 21px;
    font-style: italic;
    font-weight: bold;
  }

  md-select {
    margin: 10px 0 8px 0;
  }

  .genre-selector-wrapper {
      .md-select-value {
        // color: #ffab40; 

        span {
          padding-top: 5px;
          padding-bottom: 4px;
          color: #1a1829;
        }

        .md-text {
          border: 1px solid transparent;
          border-radius: 11px;
          padding: 3px 5px 3px 5px;
          color: #1a1829;
          // background: greenyellow;
          background: linear-gradient(to right, #c9d6ff , #e2e2e2);
          
        }
        
        .md-select-icon {
          margin-left: 0;
          color: #c9d6ff;
        }
      }
  }
    
    //change the color of the genres when not hovering
    md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
      color: #ffab40;
    }

    md-select:not([disabled]):focus .md-select-value {
      border-bottom: none;
      // color: rgba(0,0,0,0.87);
    }  
      
}


   .selectGenreSelectorHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectGenreSelectorHeader' class */ }
  .selectGenreSelectorHeader .demo-header-searchbox {
      border: none;
      outline: none;
      height: 100%;
      width: 100%;
      padding: 0; 
  }

  .selectGenreSelectorHeader .genre-selector-header {
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
      padding-left: 10.667px;
      height: 48px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      width: auto; 
  }

  .selectGenreSelectorHeader md-content._md {
    max-height: 240px; 
  }


.genre-widget-area {
    // padding : 10px;
    max-width: 450px;
}